body {
	background-image: url("../images/Sports.png");
}

h1 {
	text-align: center;
	color: white;
}

.jumbotron {
	background-color: green;
}

#result {
	font-size: 16px;
	text-align: center;
}

.question {
	text-align: center;
	font-size: 20px;
	color: green;
	font-style: bold;
}
.answers{
	font-size: 16px;
	text-align: center;
}

.timer {
	font-size: 16px;
	text-align: left;
/*	color: red;
*/}

/*button {
	margin:5px 5px 5px 5px;
}*/